<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dwindle diabetes</title>

        <!-- CSS FILES -->        
        <link href="static/bootstrap.min.css" rel="stylesheet">

        <link href="static/bootstrap-icons.css" rel="stylesheet">

        <link href="static/DD.css" rel="stylesheet">


    </head>
    
    <body id="section_1">

        <header class="site-header">
            <div class="container">
                <div class="row">
                                     

                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg bg-light shadow-lg">
            <div class="container">
                <a class="navbar-brand" href="home">
                    <img src="../static/images/123.png"  class="logo img-fluid" alt="DD">
                    <span>
                        DWINDLE DIABETES
                        <small>Diabetes Management APP</small>
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_2">About</a>
                        </li>
                             
                        <li class="nav-item dropdown">
                            <a class="nav-link click-scroll dropdown-toggle" href="#section_3" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Symptoms</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="#div_3.1">Causes</a></li>

                                <li><a class="dropdown-item" href="#div_3.2">Risks</a></li>
                            </ul>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Reduction</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_5">Contact</a>
                        </li>

                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn btn" href="check">Predict</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>

            <section class="hero-section hero-section-full-height">
                <div class="container-fluid">
                    <div class="row">
                        
                          <div class="col-lg-12 col-12 p-0">
                              <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                              
                                    <div class="carousel-item active">
                                        <img src="../static/images/g.webp" class="carousel-image img-fluid" alt="...">
                                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>track health</h1>
                                            
                                            <p>Please focus on health</p>
                                        </div>
                                    </div>
                                  </div>
                      
                            </div>                               
                        </div>
               </section>


            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 text-center mx-auto">
                            <h2 class="mb-5">Welcome to Dwindle Diabetes</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mx-auto">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="#section_4" class="d-block">
                                    <img src="../static/images/hands.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Join hands to <strong>Reduce diabetes</strong></p>
                                </a>
                            </div>
                        </div>

                        

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4 mx-auto">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="#section_4" class="d-block">
                                    <img src="../static/images/receive.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Make a <strong>CHANGE</strong></p>
                                </a>
                            </div>
                        </div>

                       

                    </div>
                </div>
            </section>

            <section class="section-padding section-bg" id="section_2">
                <div class="container">
                    <div class="row">
            
                    <div class="col-lg-12 col-12 text-center ">
                      <h2>About Diabetes</h2>
                      <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.
                        Over time, having too much glucose in your blood can cause health problems. Although diabetes has no cure, you can take steps to manage your diabetes and stay healthy.
                        Every case of diabetes is serious.</p>
                                    </div>
            
                                    <div class="col-lg-12 col-12 mb-4">
                                        <div class="custom-block-wrap">
                                            <img src="../static/images/4.jpg" class="custom-block-image img-fluid" alt="">
                                        </div>
                                        </div>
                                        </div>
                                        

                      
                         <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                             <div class="custom-text-box">
                                <h2 class="mb-2">About Web-App</h2>

                                <h5 class="mb-3">Dwindle Diabetes, Diabetes Management</h5>

                                <p class="mb-0">This web app allows you to predict diabetes is present or not and in what condition it is based on the blood sugar value input by the users. </p>
                            </div>
                            </div>
                            
                            
                    
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-text-box">
                                        <h5 class="mb-3">Our Objective</h5>

                                        <p>To predict the following:</p>

                                        <ul class="custom-list mt-2">
                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                Diabetic or not
                                            </li>

                                            <li class="custom-list-item d-flex">
                                                <i class="bi-check custom-text-box-icon me-2"></i>
                                                Any food for the value
                                            </li>
                                        </ul>
                                    </div>
                                </div>        
                    </div>
                </div>
                </section>

                <section class="section-padding section-bg" id="section_3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-12  ">
                                <img src="../static/images/2.jpg" class="custom-text-box-image img-fluid" alt="">
                            </div>
                                
                            
                        </div>
                                        
                    </div>
                
                    <div class="container" id="div_3.1">
                        <div class="row">
                            <div class="col-lg-12 col-12 mt-5 ">
                                <img src="../static/images/3.jpg" class="custom-text-box-image img-fluid" alt="">
                            </div>
                        </div>          
                    </div>
                
                    <div class="container" id="div_3.2">
                        <div class="row">
                            <div class="col-lg-12 col-12 mt-5">
                                <img src="../static/images/5.jpg" class="custom-text-box-image img-fluid" alt="">
                            </div>
                        </div>      
                    </div>
                </section>

                <section class="section-padding section-bg" id="section_4">
                    <div class="container">
                        <div class="custom-text-box mb-4">
                            <h2 class="mb-2"><center>Reduction</center></h2>

                            <p class="mb-0">It's especially important to make diabetes reduction a priority if you're at increased risk of diabetes, such as if you're overweight or you have a family history of the disease. Diabetes reduction is as basic as eating more healthfully, becoming more physically active, performing exercises, losing a few extra pounds and taking medications on time. </p>
                        </div>
                        
                        
                            <div class="col-lg-12 col-12 mb-2 ">
                                <img src="../static/images/1.jpg" class="custom-text-box-image img-fluid" alt="">
                            </div>

                        
                    </div>   
                    </div>
                </section>

            <section class="contact-section section-padding" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <form class="custom-form contact-form" action="#" method="post" role="form">
                                <h2>Contact form</h2>

                                <p class="mb-4">Or, you can just send an email:
                                    <a href="#">info@dwindlediabetes.org</a>
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="first-name" id="first-name" class="form-control" placeholder="John" required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="last-name" id="last-name" class="form-control" placeholder="A" required>
                                    </div>
                                </div>


                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="example@gmail.com" required>

                                <textarea name="message" rows="5" class="form-control" id="message" placeholder="What can we help you?"></textarea>

                                <button type="submit" class="form-control">Send Message</button>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                        <iframe src='https://webchat.botframework.com/embed/dwindlebot-bot?s=w4tMjrDVijk.Xq3fnbXuDvA7zr_VwWIn8W-KG4KUlCMkGpF0iBpAzfo'  style='min-width: 400px; width: 100%; min-height: 550px;border: 2px solid black'></iframe>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4">
                        <img src="../static/images/123.png" class="logo img-fluid" alt="">
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <h5 class="site-footer-title mb-3">Quick Links</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Home</a></li>

                            <li class="footer-menu-item"><a href="#section_2" class="footer-menu-link">About</a></li>

                            <li class="footer-menu-item"><a href="#section_3" class="footer-menu-link">Symptoms</a></li>

                            <li class="footer-menu-item"><a href="#section_6" class="footer-menu-link">Reduction</a></li>
                        
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mx-auto">
                        <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 120-240-9600" class="site-footer-link">
                                999-XXX-XXXX
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                dwindle@diabetes.org
                            </a>
                        </p>

                       

                        <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">Copyright © 2023 <a href="#">Dwindle</a> Diabetes.
                
                        </div>
                        
                        <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-youtube"></a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>
